<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:href="@{/style.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
<div class="header">
    Financial Chatbot Central
</div>
<div class="main-section">
    <div class="central-box">
        <div class="chat-section">
            <div class="message-container chatbot">
                <p th:text="${startMessage}">Hello! How can I assist you today?</p>
            </div>
            <div th:each="message : ${conversationHistory}" class="message-container">
                <p th:if="${message.input}" th:text="${message.input}" class="user"></p>
                <p th:if="${message.response}" th:text="${message.response}" class="chatbot"></p>
            </div>
        </div>


        <!-- Query input and send button section -->
        <div class="query-section">
            <form action="#" th:action="@{/chat}" method="post">
                <input type="text" name="userInput" placeholder="Type your message here..." required />
                <button type="submit">></button>
            </form>
        </div>

    </div>
</div>

<footer class = "footer">
    <p>&copy; <span th:text="${currentYear}">2024</span> Your Company. All rights reserved.</p>
</footer>

<script th:src="@{/js/scripts.js}"></script> <!-- Link to your JavaScript file -->
</body>
</html>
